<div ui-content-for="title">
  <span>Tartan Comfort</span>
</div>

<div class="scrollable">
<!--  <input
    ng-if="Ui.active('searchBar')"
    type="search"
    class="form-control scrollable-header"
    placeholder="Search.." />-->

  <div class="scrollable-content" ui-scroll-bottom='bottomReached()'>
    <div class="list-group-item list-group-item-home media">
        <div class="media-body">
            <h3 class="media-heading">How satisfied are you with the air temperature in ROOM X?</h3>
            
        </div>
      </div>

    <div class="list-group">
      <a ng-repeat="item in pageOneItems" href="#/scroll2" class="list-group-item">
        {{ item }} <i class="fa fa-chevron-right pull-right"></i>
      </a>
    </div>
  </div>

  <!--<a class="btn btn-block btn-lg btn-primary scrollable-footer" ui-toggle='searchBar'>
    <i class="fa fa-search"></i> 
    <span ui-hide="searchBar">Show</span>
    <span ui-show="searchBar">Hide</span>
    Search Bar
  </a>-->
  <div ui-content-for="modals">
  <div ng-include="'modal1.html'"></div>
  <div ng-include="'modal2.html'"></div>
</div>

</div>